/* CSS Document */
/*----------------------------------------*/
/*总内容div*/
#all-content{
	/*border: 1px solid red;*/
	width:1004px;
	margin:0px auto;
	background: #ffffff;
	
}

.huanying{
	/*border:1px solid red;*/
	width:1004px;
	height: 50px;
	margin:0px auto;
}
.huanying .title{
	/*border:1px solid red;*/
	font-size: 28px;
	line-height: 45px;
	color: #ffffff;
	width:400px;
	height: 50px;
	float: left;
	margin-left:300px;
}
.huanying .tuichu {
	/*border:1px solid red;*/
	height: 20px;
	float: right;
	margin-top: 15px;
	
}
.huanying .tuichu span{
	display: block;
	float: left;
	margin-right: 20px;
	color: #FFFFFF;
	
}
.huanying .tuichu a{
	display: block;
	float: right;
	color:#FFFFFF;
}
.huanying .tuichu a:hover{
	display: block;
	float: right;
	color:#81c9fd;
}
#content{
	padding-bottom: 20px;
}
/*--------------导航栏nav-star--------------------*/
/*一级导航star*/
#lanren {
	border-top:2px solid #4e8c75;
	width: 1004px; 
	height:40px; 
	position: relative;
	z-index:10;
	padding-left: 1px;
}
#lanren .nav1{
	width: 1004px;
	/*border: 1px solid #FF0004;*/
}
#lanren .nav1 .li1{
	border-right: 1px solid #594b48;
	float:left;
	width:166.3px;
	height: 40px;
	line-height:40px;
	text-align: center;
	position: relative;
	background: #4e8c75;
	color: #ffffff;
}
#lanren .nav1 #last_one{
		width: 167.5px;
		border-right:none;
}
#lanren .nav1 .li1:hover,#lanren .nav1 .active{
	color:#5d947f;
	background: #ffffff;
	font-size:18px;
	font-weight: bold;
	
}

/*二级导航star*/
#lanren .nav1 .li1 .nav20{
	position: absolute;
	left:0px;
	top: 40;
	display:none;
	width: 270px;
	padding:0px 4px 4px 4px;
	/*border: 1px solid red;*/
}
#lanren .nav1 .li1 .nav21{
	position: absolute;
	right:0px;
	top: 40;
	display:none;
	width:270px;
	padding:0px 4px 4px 4px;
	/*border: 1px solid red;*/
}
#lanren .nav1 .li1 .nav20 .li2,#lanren .nav1 .li1 .nav21 .li2{
	text-decoration: none;
	float:left;
	width:100px;
	text-align: center;
	height:30px;
	font-size:15px;
	line-height:28px;
	color:#ffffff;
	border-radius:8px;
	margin-top:10px; 
	margin-left:20px; 
	background: #4e8c75;
}
#lanren .nav1 .li1 .nav20 .li2:hover,#lanren .nav1 .li1 .nav21 .li2:hover{
	background: #2ea760;
	
}
#lanren .nav1 .li1:hover .nav20,#lanren .nav1 .li1:hover .nav21{
	display: block;
	background: #ffffff;
}
/*二级导航end*/
/*--------------导航栏nav-end--------------------*/

/*--------------内容star-------------------*/
/*--------------内容——nav——star--------------------*/
#content .title{
	border-bottom:2px solid #6dc17e;
	width:1004px;
	height:57px;
}
#content .title .nav{
	/*border:1px solid #D70003;*/
	margin-top:20px;
	margin-left:30px;
	color:#848484;
	font-size: 16px;
	float:left;
		
}
#content .title .nav a{
	color:#848484;
}
#content .title .nav a:hover{
	color:#6dc17e;
	text-decoration: none;
}
#content .title .background{
	width: 109px;
	height:57px;
	background: url(../information/nei-nav.jpg) no-repeat;
	float: left;
}
/*--------------内容——nav——end--------------------*/

/*----------------内容——nav——star------------------------*/
#content .content{
	/*border:1px solid #E50003;*/
	/*width:780px;*/
	margin-left: 20px;
}
/* #content .content .other{
	border:1px dashed #6dc17e;
	width: 750px;
	color:#878787;
	text-align:center;
	margin:10px auto;
	border-radius: 3px 3px;
}
#content .content .other a{
	color:#6dc17e;
}
*/


#content .content .information #ul{
	border:1px solid #b5b5b5;
	border-bottom: none;
	border-right: none;
	margin-bottom: 20px;
	float: left;
	margin-right: 31px;
}
#content .content .nongzi #ul{
	border:1px solid #b5b5b5;
	border-bottom: none;
	border-right: none;
	margin-bottom: 20px;
	float: left;
	margin-right:138px;
	margin-left:130px;
}
#content .content .nongzi #ul1{
	border:1px solid #b5b5b5;
	border-bottom: none;
	border-right: none;
	margin-bottom: 20px;
	float: left;
	margin-right: 31px;

}
#content .content ul{
	float: left;
}
#content .content .ul1{
	margin-top:0px;
	margin-bottom: 0px;
	text-align: center;
	
	
}
#content .content .ul1 li{
	height:30px;
	
}
#content .content ul li{
	border-bottom: 1px solid #b5b5b5;
	border-right: 1px solid #b5b5b5;
	width:118px;
	height:50px;
	position:relative;
	float:left;
	overflow: hidden;
	margin-top: 0px;
	text-align: center;
}
#content .content ul li a{
	/*border:1px solid #0034FF;*/
	display: block;
	float: left;
	padding: 2px;
	margin-top: 10px;
	margin-left: 2px;
	
}
#content .content ul li a:hover{
	background: #2ea760;
	border-radius: 5px;
	color: #ffffff;
	text-decoration: none;
	
}
/*----------------内容——nav——end------------------------*/

/*---------------------------------------------*/
/*banner条*/
#content .content .banner{ 
	/*border:1px solid #FF0004;*/
	font-size:16px;
	margin-top:47px;
	margin-left:80px;
}
#content .content .banner a{
	border:1px solid #dddddd;
	border-radius:3px 3px;
	padding:7px 12px 7px 12px;
	margin:2px;
	text-decoration: none;
}
#content .content .banner a:hover{
	border:1px solid #00a1d6;
	background:#00a1d6;
 	color:#ffffff;
	
}
#content .content .banner .current{ 
	border:1px solid #00a1d6;
	border-radius:3px 3px;
	padding:7px 12px 7px 12px;
	margin:2px;
	background:#00a1d6;
 	color:#ffffff;
	font-weight: bold;
}
#content .content .banner .disable{
	border:1px solid #dddddd;
	border-radius:3px 3px;
	padding:5px 10px 5px 10px;
	margin:2px;
	color:#dddddd;
}
#content .content .banner form{
    /*border:1px solid #000000;*/
	margin-top:20px;
	margin-left:420px;
	color:#99a2aa;
}
#content .content .banner form .in1{
    border:1px solid #99a2aa;
	width:49px;
	height:24px;
	border-radius: 3px;
}
#content .content .banner form .in2{
    border:1px solid #00a1d6;
	width:40px;
	height:24px;
	border-radius: 3px;
	margin-left:5px;
	color:#ffffff;
	background:#00a1d6;
	cursor:pointer;
}
/*----------------banner条------------------------*/
/*--------------内容end--------------------*/
