/* CSS Document */

/*----------------------------------------*/
/*总内容div*/
#all-content{
	/*border: 1px solid #000000;*/
	width:1004px;
	overflow:auto;
	margin:0px auto;
	background: #ffffff;
}



/*----------------------------------------*/
/*左边的导航栏*/
#left-nav{
	width: 188px;
	float:left;
	position: relative;
	z-index: 10;
	margin-bottom: 30px;
}
#left-nav .p1{
	/*border:1px solid #FF0004;*/
	width:188px;
	height:57px;
	font-size: 22px;
	color:#594b47;
	line-height: 50px;
	text-indent: 25px;
}
#left-nav .p2{
	/*border:1px solid #FF0004;*/
	width:198px;
	height:65px;
	font-size: 18px;
	color:#ffffff;
	line-height: 63px;
	text-indent: 25px;
	background: #4e8c75;
}
#left-nav .p3{
	/*border:1px solid #FF0004;*/
	width:188px;
	height:36px;
	position: relative;
		
	
}
#left-nav .p3 a{
	/*border:1px solid #FF0004;*/
	display: block;
	height:36px;
	font-size: 16px;
	text-indent: 50px;
	line-height: 35px;
	text-decoration: none;
	color:#848484;
}
#left-nav .p3 a span{
	/*border:1px solid #FF0004;*/
	width:19px;
	height:15px;
	font-size: 16px;
	margin-left:50px;
}
/*表示点了这个小标题*/
#left-nav .p3 .active,#left-nav .p3 a:hover{
	color:#4e8c75;
	font-weight:bold;
	background: #e0ebea;
}



/*右边的内容栏*/
/*----------------------------------------*/
#right-content{
	border-left: 2px solid #b5b5b5;
	width:800px;
	margin-bottom: 20px;
	float:left;
}
#right-content .title{
	border-bottom:2px solid #6dc17e;
	width:800px;
	height:57px;
	float:left;
}
#right-content .title .nav{
	/*border:1px solid #D70003;*/
	margin-top:20px;
	margin-left:30px;
	color:#848484;
	font-size: 16px;
	float:left;
		
}
#right-content .title .nav a{
	color:#848484;
}
#right-content .title .nav a:hover{
	color:#6dc17e;
	text-decoration: none;
}
#right-content .title .background{
	width: 109px;
	height:57px;
	background: url(../information/nei-nav.jpg) no-repeat;
	float: left;
}
/*content*/
/*----------------------------------------*/
#right-content .content{
	/*border:1px solid #E50003;*/
	width:780px;
	margin-left: 20px;
	float: left;
}
#right-content .content .other{
	border:1px dashed #6dc17e;
	width: 750px;
	color:#878787;
	text-align:center;
	margin:10px auto;
	border-radius: 3px 3px;
}
#right-content .content .other a{
	color:#6dc17e;
}
#right-content .content ul{
	width:780px;
	
}
#right-content .content ul li{
	/*border:1px solid #0034FF;*/
	width:780px;
	height:115px;
	position:relative;
}
#right-content .content ul li a{
	/*border:1px solid #0034FF;*/
	display: block;
}
#right-content .content ul li img{
	/*border:1px solid #0034FF;*/
	display: block;
	width:150px;
	height:90px;
	margin-left:10px;
	margin-top:15px;
	float: left;
}
#right-content .content ul li .tit{
	/*border:1px solid #0034FF;*/
	display: block;
	font-size: 18px;
	font-weight:bold;
	width:600px;
	height:22px;
	float:left;
	margin-top:40px;
	margin-left:15px;
}
#right-content .content ul li .cont{
	/*border:1px solid #0034FF;*/
	font-size: 16px;
	color:#878787;
	width:430px;
	height:20px;
	float:left;
	margin-top:15px;
	margin-left:15px;
}
#right-content .content ul li .time{
	/*border:1px solid #0034FF;*/
	font-size: 14px;
	color:#878787;
	width:180px;
	height:20px;
	position: absolute;
	top:85px;
	left:600px;
	
}
#right-content .content ul li .xian{
	/*border:1px solid #0034FF;*/
	font-size: 18px;
	color:#878787;
	width:780px;
	height:1px;
	position: absolute;
	line-height: 0px;
	top:114px;
	left:0px;
}
/*---------------------------------------------*/
/*banner条*/
#right-content .content .banner{ 
	/*border:1px solid #FF0004;*/
	font-size:16px;
	margin-top:47px;
	margin-left:80px;
}
#right-content .content .banner a{
	border:1px solid #dddddd;
	border-radius:3px 3px;
	padding:7px 12px 7px 12px;
	margin:2px;
	text-decoration: none;
}
#right-content .content .banner a:hover{
	border:1px solid #00a1d6;
	background:#00a1d6;
 	color:#ffffff;
	
}
#right-content .content .banner .current{ 
	border:1px solid #00a1d6;
	border-radius:3px 3px;
	padding:7px 12px 7px 12px;
	margin:2px;
	background:#00a1d6;
 	color:#ffffff;
	font-weight: bold;
}
#right-content .content .banner .disable{
	border:1px solid #dddddd;
	border-radius:3px 3px;
	padding:5px 10px 5px 10px;
	margin:2px;
	color:#dddddd;
}
#right-content .content .banner form{
    /*border:1px solid #000000;*/
	margin-top:20px;
	margin-left:420px;
	color:#99a2aa;
}
#right-content .content .banner form .in1{
    border:1px solid #99a2aa;
	width:49px;
	height:24px;
	border-radius: 3px;
}
#right-content .content .banner form .in2{
    border:1px solid #00a1d6;
	width:40px;
	height:24px;
	border-radius: 3px;
	margin-left:5px;
	color:#ffffff;
	background:#00a1d6;
	cursor:pointer;
}


