@charset "utf-8";
/* CSS Document */
/*公共样式*/
body{ margin: 0;padding: 0;font-family: "微软雅黑"}
*{	text-decoration: none;list-style: none;
	padding:0px 0px 0px 0;margin: 0px 0px 0px 0px;
	border:none;
}
p{padding:0px 0px 0px 0;margin: 0px 0px 0px 0px;}
a:hover{text-decoration: underline}
a,input,button{outline:none;border:none }
a{color:#000;}
table{font-size:16px;}



/*整个页面控制器*/
body{
	margin:0px auto;
	width:100%;
	background: #dddddd;
}


/*----------------------------------------*/
/*背景头*/
#top-header{
/*	border:1px solid #0014F7;*/	
	margin:0px auto;
	width:100%;
	height:273px;
	background:url(tips_picture/nei-top.jpg) no-repeat;
	background-position:center center;
	background-size:cover;
}






/*----------------------------------------*/
/*导航栏*/	 
#bg{
	width:100%;
	height:52px;
	background-color:#594b48;
	
}
#bg .top-menu{
	/*border:1px solid #000000*/;
	width:1004px;
	height:52px;
	margin: 0px auto;
}
/*导航栏-ul*/	
#bg .top-menu ul{
	/*border:1px solid #FF00E5;*/
	height:56px;
	margin-left:30px;
	float:left;
}
/*导航栏-ul li*/
#bg .top-menu ul li{
	float:left;
}
/*导航栏-ul li a标签*/
#bg .top-menu ul li a{
	display:block;
	width:80px;
	height:56px;
	font-size: 18px;
	color:#FFFFFF;
	line-height:52px;
	text-align:center;
	text-decoration: none;
	
}
#bg .top-menu ul li .width4{
	width: 102px;
}
#bg .top-menu ul li .width5{
	width: 114px;
}
/*导航栏-ul li a标签的动作属性*/
#bg .top-menu ul li .active, #bg .top-menu ul li a:hover{
	background-color:#4e8c75;
}	
/*导航栏-form*/
#bg .top-menu .top-search{
	float:left;
	margin-left:25px;
	margin-top: 25px;
}
#bg .top-menu .top-search a{
	background:#4e8c75;
	color:#ffffff;
	border-radius: 5px;
}#bg .top-menu .top-search a:hover{
	border-radius: 5px;
	text-decoration: none;
	background:  #2ea760;
	cursor: pointer;
}





/*----------------------------------------*/
/*尾部star*/
#bottom{
	margin:0px auto;
	width:100%;
	height:233px;
	background:url(tips_picture/bottom.jpg) no-repeat;
	background-position:center center;
	background-size:cover;
	color:#FFFFFF;
}
#bottom .span{
	width: 1004px;
	margin:0px auto;
	height: 233px;
	position: relative;
}
#bottom a{
	color:#ffffff;
	text-decoration: none;
	
}
#bottom .span1{
	/*border:1px solid #B10709;*/
	width: 492px;
	height: 100px;
	float:left;
	margin-left: 30px;
	margin-top: 25px;
	
}
#bottom .span1 a{
	display: block;
	float:left;
	margin-left: 20px;
	margin-top:10px;
}
#bottom .span2{
	/*border:1px solid #B10709;*/
	width: 330px;
	height: 100px;
	float:left;
	margin-top: 25px;
	margin-left:60px; 
}
#bottom .span2 .p p{
	/*border:1px solid #B10709;*/
	margin-left:20px;
}
#bottom .span3{
	/*border:1px solid #B10709;*/
	position: absolute;
	top:150px;
	left:420px;
	
}
#bottom a:hover{
	border-radius: 5px;
	background:#2ea760 ;
	
}
/*尾部end*/